/* rubik-mono-one-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik Mono One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-mono-one-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/rubik-mono-one-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/rubik-mono-one-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-mono-one-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/rubik-mono-one-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/rubik-mono-one-v14-latin-regular.svg#RubikMonoOne') format('svg'); /* Legacy iOS */
}

html {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Helvetica, sans-serif;
    /* font-family: 'Rubik Mono One';
    font-style: normal; */
    background-color: #1a1a1a;
    align-items: center;
}


h1, p {
    border-color: darkcyan;
    margin: 20px;
    color: antiquewhite;
}

#graph-div {
    display: flex;
    grid-template-columns: 1fr 1fr;
    width: 130vh;
} 

#s3d-graph {
    border-radius: 30px;
    margin: 0;
    width: 130vh;
    height: 96vh;
}

#multi-graph-gwh {
    width: 130vh;
}

#line-graph-price, #line-graph-gwht {
    /* padding-top: 8pt; */
    flex: 1;

}